<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="../vue/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<style>
  * {
   padding: 0;
   margin: 0;
  }
.infinite-list-container {
  height: 600px;
   position: relative;  
   top: 0;
   left: 0;
   right: 0;
   overflow: auto;
}
.infinite-list-phantom {
  position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: -1;
}
.inifinite-list {
  position: absolute;
   top: 0;
   left: 0;
   right: 0;
  text-align: center;
}
.infinite-list-item {
  padding: 10px;
  color: #555;
  box-sizing: border-box;
  border-bottom: 1px solid pink;
  background: yellowgreen;
}
</style>
<body>
    <div id="app">
      <el-select v-model="value" placeholder="请选择" multiple  
      filterable >
        <el-option
        
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
</body>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    const app = new Vue({
      el: "#app",
      data() {
        return {
          options: [{
          value: '选项1',
          label: '黄金糕'
        }, {
          value: '选项2',
          label: '双皮奶'
        }, {
          value: '选项3',
          label: '蚵仔煎'
        }, {
          value: '选项4',
          label: '龙须面'
        }, {
          value: '选项5',
          label: '北京烤鸭'
        }],
        value: [],
          itemSize: 100, // 固定的列表项高度
          screenHeight: 1000, // 固定的视图区域高度
          listData: [], // 总条目
          start: 0,
          end: null,
          startOffset: 0, // 偏移量
          test: [1,2,3],
          test2: {
            a:1,
            b:2
          }
        }
      },
      computed: {
        // 列表项展示的个数
        visibleCount() {
          return Math.ceil(this.screenHeight / this.itemSize)
        },
        // 虚拟列表高度
        listHeight() {
          return this.listData.length * this.itemSize
        },
        // 计算动态偏移量
        getTransform() {
          return `translate3d(0,${this.startOffset}px,0)`
        },
         visibleData() {
           return this.listData.slice(this.start, Math.min(this.end, this.listData.length))
         }
      },
      
      mounted() {
        console.log('test1', this.test)
          //  制造数据
          for(let i = 0; i < 5000; i++) {
            const obj = {
              id: i,
              value: i + '个'
            }
            this.listData.push(obj)
          }
          // this.screenHeight = 1000
          this.start = 0
          this.end = this.start + this.visibleCount
      }, 
      // watch: {
      //    test(val) {
      //        console.log(val);

      //    }
      // },
      methods: {
        scrollEvent(e) {
          console.log(e);
          let scrollTop = e.target.scrollTop
          this.start = Math.floor(scrollTop / this.itemSize)
          this.end = this.start + this.visibleCount + 1
          this.startOffset = scrollTop -(scrollTop % this.itemSize)
        },
        changeByIndex() {
          this.test[2] = 999
          console.log(this.test, 'after');
        },
        changeByPush() {
          this.test.push(999)
          console.log(this.test, 'after2');
        }
      }
    })
</script>
</html>